* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../Tradutor-app/img/mapa.jpg");

  background-size: cover;

  background-position: center;
  height: 100vh;

  display: flex;

  align-items: center;
  justify-content: center;
}

.caixa-maior {
  background: #000000f2;
  width: 450px;
  border-radius: 25px;
  padding: 20px;
}

.input-texto {
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  background: #ffffff1a;
  border-radius: 15px;
  color: #ffffff;
  font-size: 16px;
  padding: 15px;
}

.idioma {
  width: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 12px;
  background: #ffffff1a;
  color: #ffffff;
}

.idioma option {
  background: black;
}

button {
  border: none;
  padding: 10px;
  background-color: #ffffff1a;
  border-radius: 50%;
  cursor: pointer;
}

.controle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resultado {
  padding: 15px;
  background: #ffffff1a;
  border-radius: 15px;
}

.titulo-traducao {
  color: #ffffff99;
  font-size: 14px;
  margin-bottom: 10px;
}

.traducao {
  color: #ffffff;
  font-size: 18px;
}
